body
{
  background-image: url("images/adidas-coverr.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.logo{
    width: 100px;
    
}
.header
{
    background-color:#393e46;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    border-bottom: white;
    border-bottom-style: solid;
    border-bottom-width: thin;
  
}
.header ul
{
    display: inline-flex;
    list-style: none;
}
.header ul li
{
    width:150px;
    margin:15px;
    padding:15px;
}
.header ul li a
{
    text-decoration: none;
    color: black;
}
.header ul li:hover
{
    
    background-color: darkgray;
    border-radius: 10px;
}
.menu
{
     display: none;
 }
 .header ul li:hover .menu ul li:hover{
    border-bottom-style: solid;
    border-bottom-color: black ;
 }
.header ul li:hover .menu
{
    display: block;
    position: absolute;
    background: white;
    margin-top: 15px;
    margin-left: -15px;
    z-index: 2;
}
.header ul li:hover .menu ul
{
    display: block;
    margin: 10px;
}
.header ul li:hover .menu ul li
{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.header ul li:hover .menu ul li a:hover
{
    color:black;
}
.box
{
    max-width: 60%;
    border-radius: 20px;
    margin: auto;
    background: lightgray;
    box-sizing: border-box;
    padding: 40px;
    color: black;
    margin-top: 100px;
    text-align: center;
}

h1
{
    text-align: center;
    font-weight: bolder;
    color: #000000;
    
}
label{
    font-size: large;
    color: #393e46;
}

input[type=password],input[type=text], textarea{
  background: none;
  display: inline-block;
  margin: 20px auto;
  border: 2px solid #51adcf;
  padding: 10px 10px;
  width: 250px;
  border-radius: 15px;
  transition: 0.8s;
  color: black;
  outline: none;
}
input[type=submit]{
    width: 30%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #51adcf;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    transition: 0.6s;
}
input[type=submit]:hover{
    background: #003366;
    opacity: 0.7;
    
}
input[type = "text"]:focus, input[type = "email"]:focus{

    border-left:35px solid #60adde;
  }
  textarea:focus{
    border-top:35px solid #60adde;

}
  textarea{
      resize: none;
  }